client

proto {{ openvpn_proto }}

{% for host in groups['servers'] %}
remote {{ hostvars[host]['ansible_host'] }} {{ openvpn_port }} 
{% endfor %}

dev tun
nobind				
remote-cert-tls	server				

key-direction 1
<ca>
{{ ca_cert.content|b64decode }}
</ca>

<cert>
{{ item.0.content|b64decode }}
</cert>

<key>
{{ item.1.content|b64decode }}
</key>

<tls-auth>
{{ tls_auth.content|b64decode }}
</tls-auth>

daemon
log-append /var/log/openvpn.log

keepalive 5 60
auth-nocache
comp-lzo
reneg-sec {{openvpn_reneg}}